<footer class="rrr-footer">
  <a class="totop-scroller" data-uk-smooth-scroll="" href="#"></a>

  <div class="uk-panel widget_text">
    Built with HTML5 and CSS3
    <br>Made by <a href="http://www.ghostrrr.com" target="_blank">Ghostrrr</a>
    <br>Licensed under <a href="http://opensource.org/licenses/MIT">MIT Licence</a>
  </div>
</footer>
